HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Frontend ###
/frontend/node_modules/
/frontend/build/
/frontend/.env
/frontend/.cache/
/frontend/.next/

### HTML Report ###
/htmlReport
/htmlReport/node_modules/
/htmlReport/src/test/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Logs, Configs, and Misc ###
*.log
*.yml
*.env
application-*.yml
logs/
*.db

### Test Coverage and Snapshots ###
coverage/
*.lcov
*.out
*.png
*.svg
*.jpeg

### OS/System Files ###
.DS_Store
Thumbs.db